In [1]:
import pandas as pd 
from sqlalchemy import create_engine
import mysql.connector

In [2]:
file_name = "Agricultural_Commodities_Prices_data"

host_val = "ubctg.con7266gcvin.us-east-2.rds.amazonaws.com"
user_val = "admin"
password_val = "ubctgquant"
database_val = "ubctg"

In [16]:
# Connect to MySQL database
connection = mysql.connector.connect(
    host=host_val,
    user=user_val,
    password=password_val,
    database=database_val
)

In [17]:
hostname= "localhost"
database= "new_db"
username= "username"
password= "password"

engine = create_engine("mysql://{user}:{pw}@{host}/{db}".format(host=host_val, db=database_val, user=user_val, pw=password_val))

In [21]:
my_file = open("Names.txt", "r") 
names = my_file.read().split("\n") 
my_file.close()

names

['generic 1st wheat (CBT)',
 'generic 1st maize (EOP)',
 'generic 1st barley (NDX)',
 'generic 1st rice, rough (CBT)',
 'generic 1st canola (WCE)',
 'generic 1st oats (CBT)',
 'generic 1st soybean (CBT)',
 'generic 1st crude palm oil (MDE)',
 'generic 1st rapeseed oil (EOP)',
 'generic 1st sunflower oil, refined (MCI)',
 'generic 1st cotton, No. 2 (NYB)',
 'generic 1st cocoa (NYB)',
 "generic 1st coffee, 'C' (NYB)",
 'generic 1st rubber, TSR20 (SGX)',
 'generic 1st sugar, #11 World (NYB)',
 'generic 1st urea (CME)',
 'generic 1st SGX Argus Ammonia CFR East Asia Futures (SGX)',
 'generic 1st milk (CME)',
 'generic 1st eggs, Chicken (CCO)',
 'generic 1st lean hogs (CME)',
 'generic 1st beef future contract (SAF)',
 'generic 1st norwegian Salmon Month (FPL)',
 'generic 1st wood pulp, hardwood pulp (CME)',
 'generic 1st turmeric (NDX)']

In [27]:
df = pd.read_excel(file_name + ".xlsx")
df

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,NaN,W 1 Comdty,NaN,EP1 Comdty,NaN,FU1 Comdty,NaN,RR1 Comdty,NaN,RS1 Comdty,...,LH1 Comdty,NaN,BFC1 Comdty,NaN,CSA1 Comdty,NaN,HWP1 Comdty,NaN,Q61 Comdty,NaN
1,Dates,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,...,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME
2,1959-08-31 00:00:00,190.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1959-09-30 00:00:00,196.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1959-10-30 00:00:00,200.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,2024-01-31 00:00:00,595.25,1148200,182.5,28940,2000,40,17.865,8758,610.4,...,76.35,462003,45.7,4,107,10,687.2,100,14096,63085
776,2024-02-29 00:00:00,577.5,1069598,178,28305,2033,40,17.87,18174,577.3,...,86.625,300415,45.7,4,114.5,10,687.2,100,17162,57425
777,2024-03-29 00:00:00,560.25,522542,193.25,34063,1965,230,16.36,8762,626.4,...,86.625,404533,45.7,4,113.2,10,687.2,100,17138,78535
778,2024-04-30 00:00:00,585,1101393,201,31085,2016.5,30,18.89,17630,603.8,...,94.15,73164,45.7,4,130.6,10,687.2,100,19212,62505
779,2024-05-31 00:00:00,678.5,892110,224,22621,2166,30,17.67,5997,661,...,94.35,168184,45.7,4,122,10,687.2,100,17606,91890

In [28]:
col_names = ["Date"]
for x in names:
    col_names.append(x + ": Price")
    col_names.append(x + ": Vol")
col_names

['Date',
 'generic 1st wheat (CBT): Price',
 'generic 1st wheat (CBT): Vol',
 'generic 1st maize (EOP): Price',
 'generic 1st maize (EOP): Vol',
 'generic 1st barley (NDX): Price',
 'generic 1st barley (NDX): Vol',
 'generic 1st rice, rough (CBT): Price',
 'generic 1st rice, rough (CBT): Vol',
 'generic 1st canola (WCE): Price',
 'generic 1st canola (WCE): Vol',
 'generic 1st oats (CBT): Price',
 'generic 1st oats (CBT): Vol',
 'generic 1st soybean (CBT): Price',
 'generic 1st soybean (CBT): Vol',
 'generic 1st crude palm oil (MDE): Price',
 'generic 1st crude palm oil (MDE): Vol',
 'generic 1st rapeseed oil (EOP): Price',
 'generic 1st rapeseed oil (EOP): Vol',
 'generic 1st sunflower oil, refined (MCI): Price',
 'generic 1st sunflower oil, refined (MCI): Vol',
 'generic 1st cotton, No. 2 (NYB): Price',
 'generic 1st cotton, No. 2 (NYB): Vol',
 'generic 1st cocoa (NYB): Price',
 'generic 1st cocoa (NYB): Vol',
 "generic 1st coffee, 'C' (NYB): Price",
 "generic 1st coffee, 'C' (NYB): Vol",
 'generic 1st rubber, TSR20 (SGX): Price',
 'generic 1st rubber, TSR20 (SGX): Vol',
 'generic 1st sugar, #11 World (NYB): Price',
 'generic 1st sugar, #11 World (NYB): Vol',
 'generic 1st urea (CME): Price',
 'generic 1st urea (CME): Vol',
 'generic 1st SGX Argus Ammonia CFR East Asia Futures (SGX): Price',
 'generic 1st SGX Argus Ammonia CFR East Asia Futures (SGX): Vol',
 'generic 1st milk (CME): Price',
 'generic 1st milk (CME): Vol',
 'generic 1st eggs, Chicken (CCO): Price',
 'generic 1st eggs, Chicken (CCO): Vol',
 'generic 1st lean hogs (CME): Price',
 'generic 1st lean hogs (CME): Vol',
 'generic 1st beef future contract (SAF): Price',
 'generic 1st beef future contract (SAF): Vol',
 'generic 1st norwegian Salmon Month (FPL): Price',
 'generic 1st norwegian Salmon Month (FPL): Vol',
 'generic 1st wood pulp, hardwood pulp (CME): Price',
 'generic 1st wood pulp, hardwood pulp (CME): Vol',
 'generic 1st turmeric (NDX): Price',
 'generic 1st turmeric (NDX): Vol']

In [29]:
df = df.set_axis(col_names, axis = 1)
df

,Date,generic 1st wheat (CBT): Price,generic 1st wheat (CBT): Vol,generic 1st maize (EOP): Price,generic 1st maize (EOP): Vol,generic 1st barley (NDX): Price,generic 1st barley (NDX): Vol,"generic 1st rice, rough (CBT): Price","generic 1st rice, rough (CBT): Vol",generic 1st canola (WCE): Price,...,generic 1st lean hogs (CME): Price,generic 1st lean hogs (CME): Vol,generic 1st beef future contract (SAF): Price,generic 1st beef future contract (SAF): Vol,generic 1st norwegian Salmon Month (FPL): Price,generic 1st norwegian Salmon Month (FPL): Vol,"generic 1st wood pulp, hardwood pulp (CME): Price","generic 1st wood pulp, hardwood pulp (CME): Vol",generic 1st turmeric (NDX): Price,generic 1st turmeric (NDX): Vol
0,NaN,W 1 Comdty,NaN,EP1 Comdty,NaN,FU1 Comdty,NaN,RR1 Comdty,NaN,RS1 Comdty,...,LH1 Comdty,NaN,BFC1 Comdty,NaN,CSA1 Comdty,NaN,HWP1 Comdty,NaN,Q61 Comdty,NaN
1,Dates,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,...,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME
2,1959-08-31 00:00:00,190.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1959-09-30 00:00:00,196.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1959-10-30 00:00:00,200.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,2024-01-31 00:00:00,595.25,1148200,182.5,28940,2000,40,17.865,8758,610.4,...,76.35,462003,45.7,4,107,10,687.2,100,14096,63085
776,2024-02-29 00:00:00,577.5,1069598,178,28305,2033,40,17.87,18174,577.3,...,86.625,300415,45.7,4,114.5,10,687.2,100,17162,57425
777,2024-03-29 00:00:00,560.25,522542,193.25,34063,1965,230,16.36,8762,626.4,...,86.625,404533,45.7,4,113.2,10,687.2,100,17138,78535
778,2024-04-30 00:00:00,585,1101393,201,31085,2016.5,30,18.89,17630,603.8,...,94.15,73164,45.7,4,130.6,10,687.2,100,19212,62505
779,2024-05-31 00:00:00,678.5,892110,224,22621,2166,30,17.67,5997,661,...,94.35,168184,45.7,4,122,10,687.2,100,17606,91890

In [30]:
df.to_sql(file_name, engine, if_exists='replace')

780

In [31]:
df = pd.read_sql('SELECT * from ' + file_name, con=engine)
df

,index,Date,generic 1st wheat (CBT): Price,generic 1st wheat (CBT): Vol,generic 1st maize (EOP): Price,generic 1st maize (EOP): Vol,generic 1st barley (NDX): Price,generic 1st barley (NDX): Vol,"generic 1st rice, rough (CBT): Price","generic 1st rice, rough (CBT): Vol",...,generic 1st lean hogs (CME): Price,generic 1st lean hogs (CME): Vol,generic 1st beef future contract (SAF): Price,generic 1st beef future contract (SAF): Vol,generic 1st norwegian Salmon Month (FPL): Price,generic 1st norwegian Salmon Month (FPL): Vol,"generic 1st wood pulp, hardwood pulp (CME): Price","generic 1st wood pulp, hardwood pulp (CME): Vol",generic 1st turmeric (NDX): Price,generic 1st turmeric (NDX): Vol
0,0,None,W 1 Comdty,None,EP1 Comdty,None,FU1 Comdty,None,RR1 Comdty,None,...,LH1 Comdty,None,BFC1 Comdty,None,CSA1 Comdty,None,HWP1 Comdty,None,Q61 Comdty,None
1,1,Dates,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,...,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME,PX_LAST,PX_VOLUME
2,2,1959-08-31 00:00:00,190.75,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,3,1959-09-30 00:00:00,196.5,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,4,1959-10-30 00:00:00,200.375,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,775,2024-01-31 00:00:00,595.25,1148200,182.5,28940,2000,40,17.865,8758,...,76.35,462003,45.7,4,107,10,687.2,100,14096,63085
776,776,2024-02-29 00:00:00,577.5,1069598,178,28305,2033,40,17.87,18174,...,86.625,300415,45.7,4,114.5,10,687.2,100,17162,57425
777,777,2024-03-29 00:00:00,560.25,522542,193.25,34063,1965,230,16.36,8762,...,86.625,404533,45.7,4,113.2,10,687.2,100,17138,78535
778,778,2024-04-30 00:00:00,585,1101393,201,31085,2016.5,30,18.89,17630,...,94.15,73164,45.7,4,130.6,10,687.2,100,19212,62505
779,779,2024-05-31 00:00:00,678.5,892110,224,22621,2166,30,17.67,5997,...,94.35,168184,45.7,4,122,10,687.2,100,17606,91890

In [32]:
connection.close()