In [1]:
import mysql.connector
import pandas as pd

In [2]:
# Connect to MySQL database
connection = mysql.connector.connect(
    host="ubctg.con7266gcvin.us-east-2.rds.amazonaws.com",
    user="admin",
    password="ubctgquant",
    database="ubctg"
)

### Retrieve Dataset From the Database

In [3]:
# Create a cursor object to execute SQL queries
cursor = connection.cursor()

# SQL query to retrieve all data from the "Volatility" table
sql_query = "SELECT * FROM Volatility"

# Execute the SQL query
cursor.execute(sql_query)

# Fetch all rows from the result set
volatility_data = cursor.fetchall()

# Close the cursor and connection
cursor.close()


# Convert fetched data into a pandas DataFrame
columns = [i[0] for i in cursor.description]  # Extract column names from cursor description
volatility_df = pd.DataFrame(volatility_data, columns=columns)

# Print the DataFrame
volatility_df.head()

         Date    Vix
0  2000-01-03  24.21
1  2000-01-03  24.21
2  2000-01-04  27.01
3  2000-01-04  27.01
4  2000-01-05  26.41

### Pulling Rows Between 2 Dates

In [10]:
# Create a cursor object to execute SQL queries
cursor = connection.cursor()

# Define the start and end dates
start_date = '2020-01-01'
end_date = '2021-01-31'

# SQL query to retrieve data from the "Volatility" table between two dates
sql_query = f"SELECT * FROM Volatility WHERE Date BETWEEN '{start_date}' AND '{end_date}'"

# Execute the SQL query
cursor.execute(sql_query)

# Fetch all rows from the result set
volatility_data = cursor.fetchall()

cursor.close()


# Convert fetched data into a pandas DataFrame
columns = [i[0] for i in cursor.description]  # Extract column names from cursor description
volatility_df = pd.DataFrame(volatility_data, columns=columns)

# Print the DataFrame
volatility_df.head(1), volatility_df.tail(1)

(         Date    Vix
 0  2020-01-02  12.47,
            Date    Vix
 271  2021-01-29  33.09)

### Getting the unique Identifiers For A Select Date

In [11]:
# Create a cursor object to execute SQL queries
cursor_1 = connection.cursor()

date_inQ = "2020-01-02"  # Replace with your desired date

# SQL query to return unique values in "PERMNO" column where "Date" column is equal to date_inQ
sql_query = f"SELECT DISTINCT Permno FROM Returns WHERE Date = '{date_inQ}'"

# Execute the SQL query
cursor_1.execute(sql_query)

unique_permno = cursor_1.fetchall()


# Convert fetched data into a pandas DataFrame
columns = [i[0] for i in cursor_1.description]  # Extract column names from cursor description
unique_permno_df = pd.DataFrame(unique_permno, columns=columns)

cursor_1.close()

# Print the DataFrame
print(unique_permno_df)

      Permno
0      10026
1      10028
2      10032
3      10044
4      10051
...      ...
7631   93426
7632   93427
7633   93429
7634   93434
7635   93436

[7636 rows x 1 columns]

### Writing a New Table back to the Database

In [12]:
cursor = connection.cursor()

create_table_query = """
CREATE TABLE Glenn_Test (
    Col_1 VARCHAR(255)
)
"""
cursor.execute(create_table_query)

# Insert a single row into Glenn_Test
insert_query = """
INSERT INTO Glenn_Test (Col_1)
VALUES ('Testing')
"""

    
cursor.execute(insert_query)

# Commit the transaction
connection.commit()

cursor.close()

True

### Now we are going to call the data we just created

In [13]:
cursor = connection.cursor()

select_query = """    SELECT * FROM Glenn_Test    """

cursor.execute(select_query)

# Fetch all rows from the result set
glenn_test_data = cursor.fetchall()

# Convert fetched data into a pandas DataFrame
columns = [i[0] for i in cursor.description]
glenn_test_df = pd.DataFrame(glenn_test_data, columns=columns)

cursor.close()

# Print the DataFrame
print(glenn_test_df)

     Col_1
0  Testing

### Lastly, we are going to delete the table we just created

> if you run the cell twice and get an error, the table was successfully deleted

> BE CAREFUL NOT TO DELETE IMPORTANT DATA

In [14]:
cursor = connection.cursor()

# Delete the Glenn_Test table
drop_table_query = """
DROP TABLE Glenn_Test
"""
cursor.execute(drop_table_query)

# Commit the transaction
connection.commit()

cursor.close()

print("Glenn_Test table deleted.")

Glenn_Test table deleted.